<div>

	<h1>CREATE CRITERIA PAGE</h1>

	<form action="/create_hub_criteria" method="POST">
		<br><br><br>
			<table>
				<thead>
					<tr>
						<th>Details of HUB</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text"></td>
						<td><input type="text" id="organisation" name="OrganisationName" placeholder="{{OrganisationName}}"></td>
						<td>
							<select name="inputType" id="inputType">
								<option value="text">Text/String</option>
								<option value="number">Number</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			<br/>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th></th><th><h1>Criteria</h1></th><th></th>
					</tr>
					<tr>
						<th>Name of Metric</th><th>DataType of Metric</th>
					</tr>
				</thead>
				<tbody>
					<tr class="metric">
						<td><input type="text"></td>
						<td>
							<select name="inputType" id="inputType">
								<option value="text">Text/String</option>
								<option value="number">Number</option>
							</select>
						</td>
						<td><input class="btn btn-default" type="submit" value="Add metric"></td>
					</tr>
					{{!-- <tr>
						<td for="{{fieldName}}">{{Indicator}}</td>
						<td><input type="number" name="{{fieldName}}" id="{{fieldName}}"></td>
					</tr> --}}
				</tbody>
		</table>
		<input type="submit" class="btn btn-default" value="Done ">
	</form>
</div>