	<div>

		<div class="list-group">
		{{#OrganisationType}}
			<h1>{{this}} METRICS</h1>
		{{/OrganisationType}}

		<form action="/startup_criteria" method="POST">
			{{#create_template}}
				<table>
					<tbody>
						{{#each Indicator}}
							<tr>
								<td>{{detail}}</td>
								<td><input type="{{type}}" id="indicator_{{@key}}" name="indicator_{{@key}}" placeholder="{{detail}}"></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
				<br/>
				<table class="table table-bordered" data-click-to-select="true">
					<thead>
						<tr>
							<th colspan="2">Criteria</th>
						</tr>
					</thead>
					<tbody>
						{{#each Criteria}}
							<tr class="metric_{{@key}}-row">
								<td class="metric_{{@key}}-td">
									<input type="checkbox" class="metric_{{@key}}" data-checkbox="true">
									<label>{{metric}}</label>
								</td>
								<td class="metric_{{@key}}-td">
									<input type="{{type}}" name="metric_{{@key}}" class="metric_{{@key}}">
								</td>
							</tr>
						{{/each}}
					</tbody>
				{{/create_template}}
			</table>
			<input type="submit" class="btn btn-success"> 
		</form>
		<input class="btn btn-outline btn-primary" id="create_startup_criteria" value="Create Startup Criteria" type="submit">
		</div><!-- list -->
	</div>