<div>

	<h1>HUB METRICS</h1>

	{{#create_program_template}}
		<table>
			<tbody>
				<tr>
					<td>Organisation Name</td>
					<td><input type="text" id="organisation" name="OrganisationName" placeholder="{{OrganisationName}}"></td>
				</tr>
				<tr>
					<td>Contact Person</td>
					<td><input type="text" id="contact" name="ContactPerson" placeholder="{{ContactPerson}}"></td>
				</tr>
				<tr>
					<td>Type of Organisation</td>
					<td><input type="text" id="type" name="type" placeholder="Type of Organisation"></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><input type="text" id="Description" name="Description" placeholder="Description of Organisation"></td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th colspan="2">Criteria</th>
				</tr>
			</thead>
			<tbody>
				{{#each Criteria}}
					<tr>
						<td for="{{fieldName}}">{{Indicator}}</td>
						<td><input type="number" name="{{Indicator}}" id="{{fieldName}}"></td>
					{{!-- <p>
						<label for="desc{{fieldName}}">Description</label>
						<textarea type="text" name="Description" id="desc{{fieldName}}"></textarea>
					</p> --}}
					</tr>
				{{/each}}
			</tbody>
		{{/create_program_template}}
	</table>
</div>