<div class="container">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Manage</div>
		<div class="panel-body">
			<ul class="nav nav-pills" role="tablist">
				<li class="active" role="presentation"><a href="#list" role="tab" data-toggle="tab">STARTUPS</a></li>
				<li role="presentation"><a href="#hub_report" role="tab" data-toggle="tab">REPORT</a></li>
				<li role="presentation"><a href="#profile_creator" role="tab" data-toggle="tab">ADD STARTUP</a></li>
				<li role="presentation"><a href="#criteria_creator" role="tab" data-toggle="tab">STARTUP REPORT TEMPLATE</a></li>
				<li role="presentation"><a href="#view_hub_report" role="tab" data-toggle="tab">HUB REPORTS</a></li>			
			</ul>
		</div>
		<div class="tab-content panel-body">
			<div role="tabpanel" class="tab-pane active" id="list">
				<!-- Table -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Startup Name</th>
							<th>Profile</th>
							<th>Last Report From Startup</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>techStars</td>
							<td><a href="/startups/view_profile/techStars">techStars Profile</a></td>
							<td><a href="/startups/view_report/techStars">techStars Report</a></td>
							<td>Today</td>
						</tr>
						<tr>
							<td>codeX</td>
							<td><a href="/startups/view_profile/codeX">codeX Profile</a></td>
							<td><a href="/startups/view_report/codeX">codeX Report</a></td>
							<td>Today</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="profile_creator">
				<form action="/add_new_startup" method="POST">
					<table class="table">
						<thead>
							<tr>
								<th><h3>Details of new STARTUP</h3></th>
							</tr>
						</thead>
						<br/>
						<tbody>
							{{#each profile_template}}
								<tr>
									<td>{{detail}}</td>
									<td>
										<input type="text" name="detail_{{@key}}">
									</td>
								</tr>
							{{/each}}
							<tr class="detail-row">
								<td><b>Add Another Detail:</b></td>
								<td> <input name="detail" type="text"></td>
								<td>&nbsp;
									<input class="btn btn-primary detail" readonly value="Add">
								</td>
							</tr>
						</tbody>
					</table>
					<br/>
					
					<input type="submit" name="add_new_startup" class="btn btn-success" value="Save Startup Profile">
				</form>
			</div>
			<div role="tabpanel" class="tab-pane" id="criteria_creator">
				<form action="/criteria_post" method="POST">
					<table class="table">
						<thead>
							<tr>
								<h1 style="text-align:center">Criteria</h1>
							</tr>
							<tr>
								<th>Name of Metric</th><th>Type of Metric</th>
							</tr>
						</thead>
						<tbody>
							<tr class="metric-row">
								<td><input name="metric" type="text"></td>
								<td>
									<select name="metric_type" id="inputType">
										<option value="number">Number</option>
										<option value="text">Text</option>
									</select>
								</td>
								<td class= "table-cell-borderless"><input class="btn btn-primary metric" readonly value="Add metric"></td>
							</tr>
						</tbody>
					</table>
					
					<input type="submit" name="create_criteria" class="btn btn-success" value="Save Report Template">
				</form>
			</div>
			<div class="tab-pane" role="tabpanel" id="hub_report">
				<div class="container">

					<div class="list-group">
						<h1>HUB - COMPLETE REPORT</h1>
					</div>
					<form action="/criteria_post" method="POST">
						<table class="table" data-click-to-select="true">
								<thead>
									<tr>
										<th colspan="2">Criteria</th>
									</tr>
								</thead>
							{{#criteria_template}}
								<tbody>
									{{#each Criteria}}
										<tr class="metric_{{@key}}">
											<td class="metric_{{@key}}-td">
												<label>
													<input type="checkbox" class="metric_{{@key}}" data-checkbox="true">
													{{metric}}
												</label>
											</td>
											<td class="metric_{{@key}}-td">
												<input type="{{type}}" name="metric_{{@key}}" class="metric_{{@key}}">
											</td>
										</tr>
									{{/each}}
								</tbody>
						{{/criteria_template}}
					</table>
						<input type="submit" class="btn btn-success" value="Submit Report"> 
						<input class="btn btn-outline btn-primary col-lg-offset-1" id="create_startup_criteria" value="Create Startup Criteria" type="button">
					</form>
					</div><!-- list -->
				</div>

				<div class="tab-pane" role="tabpanel" id="view_hub_report">
					<div class="container">

						<div class="list-group">
							<h1>HUB - VIEW REPORT</h1>
						</div>
							<table class="table" data-click-to-select="true">
									<thead>
										<tr>
											<th class="table-bordered">Report Name</th> <th class="table-bordered">Action</th>
										</tr>
									</thead>
								{{#view_hub_report}}
									<tbody>
										<tr>
											<td>Report {{@key}}</td>
											<td><a href="/hub_page/view_report/{{@key}}">View this report</a></td>
										</tr>
									</tbody>
								{{/view_hub_report}}

						</table>
							<a type="submit" class="btn btn-success">Submit Report</a> 
						</div><!-- list -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>